# ==============================
# Python
# ==============================

__pycache__/
*.py[cod]
*.pyo


# ==============================
# Virtual Environment
# ==============================

venv/
env/
.venv/


# ==============================
# Database
# ==============================

*.db
*.sqlite
*.sqlite3


# ==============================
# Uploaded / Generated Data
# ==============================

uploads/
cleaned/

# Ignore CSV datasets
*.csv


# ==============================
# Environment Variables
# ==============================

.env
.env.*


# ==============================
# IDE
# ==============================

.vscode/
.idea/


# ==============================
# OS Files
# ==============================

.DS_Store
Thumbs.db


# ==============================
# Logs
# ==============================

*.log